<h1>DM</h1>

<h4>参加者</h4>
<% @user_rooms.each do |e| %>
  <h5><strong><a href="/users/<%= e.user.id %>"><%= e.user.email%>さん</a></strong></h5>
<% end %>

<div id="message">
  <%= render 'message', rooms: @rooms %>
</div>
<%= render 'form', room: @room, chat: @chat %>

<%= link_to "ユーザー一覧に戻る", users_path %>
